body {
    margin:0;
  }
  .gradientbg {
      width: 100%;
      height: 100vh;
      padding-bottom: 20%;
      background: linear-gradient(100deg, #051e3e, rgba(24, 50, 83, 1), rgba(69, 30, 62, 1) 100%);
      background-size: 600% 100%;
      animation: gradient 4s linear infinite;
      animation-direction: alternate;
  }
  
  @media (max-width: 700px) {
    .gradientbg {
        padding-bottom: 30% !important;
    }
  }
  
  @keyframes gradient {
      0% {background-position: 0%}
      100% {background-position: 100%}
  }
  